In [1]:
#
#  notebook to return the cell lengths
#

# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import time
import json

%matplotlib inline
import matplotlib.pyplot as plt

import os
import datetime

In [2]:
#import csv files

gun_own_csv = "D:\Homework\PROJECT-2-Visualize-Me-Captain\data\gunownershipdataIV.csv"

gun_own_df = pd.read_csv(gun_own_csv, encoding="utf-8")
gun_own_df.head()

           State State_ABV  gunOwnership      Pop
0         Alaska        AK         0.617   735720
1       Arkansas        AR         0.579  3026412
2          Idaho        ID         0.569  1790182
3  West Virginia        WV         0.542  1791951
4        Wyoming        WY         0.538   572381

In [3]:
guns_rounded = gun_own_df.round(3)
guns_rounded.head()

           State State_ABV  gunOwnership      Pop
0         Alaska        AK         0.617   735720
1       Arkansas        AR         0.579  3026412
2          Idaho        ID         0.569  1790182
3  West Virginia        WV         0.542  1791951
4        Wyoming        WY         0.538   572381

In [4]:
# Export file as a CSV, with the Pandas index and with the header....
guns_rounded.to_csv("D:\Homework\PROJECT-2-Visualize-Me-Captain\data\gunownershipdataIV_rounded.csv", index=True, header=True)

In [5]:

# return the max length of characters in each column

measurer = np.vectorize(len)

res1 = measurer(guns_rounded.values.astype(str)).max(axis=0)
res1

array([14,  2,  5,  8])